<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Registeration Form </title>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
	
</script>
   <script>
		function checkUserId(params) {
		if (params) {
		var data;
		$.ajax({
			url : 'http://localhost:8080/checkUserIdForSeller/'+params,
			type : 'POST',
            contentType: "application/json; charset=utf-8",
			async : false,
		}).done(function(res) {
		data = res;
		}).fail(function(err) {
			console.log('Error: ' + err.status);
		});

		if(data !==null)
		document.getElementById("availId").innerHTML=data;
		}else{
			document.getElementById("availId").innerHTML="";

		}
	}
   </script>
</head>

<body style="background-color: rgb(216, 131, 131);">
    <div align="center"  >
        <div>
            <h2>Seller Registeration Form </h2>
        </div>
        <div>
            <form action="sellerReg" method="post" modelAttribute="sellerRegAtr" >
											

				<table>
					<tr>
						<td>Full Name:</td>
						<td><input type="text" name="userName" maxlength="100" required /></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>Male&#160;&#160;&#160;&#160; <input type="radio" name="gender" value="male" required /><br/>
							Female&#160;<input type="radio" name="gender" value="female" required/>
						
						</td>
					</tr>
					<tr>
						<td>Age:</td>
						<td><input type="number" name="age" required /></td>
					</tr>
					<tr>
						<td>Create User Id:</td>
						<td><input type="text" name="userId" required maxlength="15" placeholder="only alphanumeric" onblur="checkUserId(this.value)" /></td>
					</tr>
					<tr>	
						<td colspan="2" align="center" style="color:black;"><span id="availId"></span></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="userPass" required /></td>
					</tr>
					<tr>
						<td>Re-Password:</td>
						<td><input type="password" name="password2" required /></td>
					</tr>

					<tr>
						<td>Email Id:</td>
						<td><input type="email" name="emailId" maxlength="40" required /></td>
					</tr>
					<tr>
						<td>Phone Number:</td>
						<td><input type="number" name="phone" required /></td>
					</tr>
				</table>
				<br>
				<div align="center"><input type="submit" value="Register" /> </div><br/>
				<div align="center"><span>Or</span></div><br/>
				<div align="center"><a th:unless="${userId}" href="/sellerLoginPage" ><img src="icon/login-button-png-18030.png" style="block-size: 45px;" /></a></div>
				

			</form>
           
        </div>
</body>

</html>