<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Preview</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<!-- <body>


    <div align="center" id="view" >
        <h1>Buy it and Make Payment</h1>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Product Id</th>
                    <th>Product Type</th>
                    <th>Order Id</th>
                    <th>Make Payment</th>
                    <th>Cancel Order</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="data,num : ${orders}">
                    <td th:utext="${num.count}"></td>
                    <td th:text="${data[1]}"></td>
                    <td th:text="${data[2]}"></td>
                    <td th:text="${data[3]}"></td>
                    <td th:text="${data[4]}"></td>
                    <td th:text="${data[5]}"></td>
                    <td>
                        <a th:href="@{'/payment/' + ${data[5]}}">Make Payment </a></td>
                        <td>
                            <a th:href="@{'/removeFromKart/' + ${data[3]}+'/'+${data[5]}}">Cancel Order</a>  
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body> -->
<body style="background-color: #e0f0c9;">


    <div align="center" id="view">
        <!-- <a th:unless="${userId}" href="/userLoginPage"><img src="icon/login-button-png-18030.png"
                style="block-size: 45px;float:right" /></a>
        <a th:unless="${userId}" href="/userRegistration"><img src="icon/download.png"
                style="block-size: 80px;float:right" /></a>
        <a th:if="${userId}" href="/destroy"><img src="icon/images.jpg" style="block-size: 70px;float:right" /></a>
        <a th:if="${userId}" href="/viewUserKart"><img src="icon/icons8-shopping-cart.gif"
                style="block-size: 45px;float:right" /></a> -->
        <h1>Product Preview</h1>
        <br /><br />
        <h1 th:text="${message}"></h1>
    </div>
    <div align="center">
        <div th:each="data,num : ${orders}"
            style="border:1px solid black; height: 350px;width: 219px;margin: 10px;display: inline-block; ">
            <img th:src="@{${'http://localhost:8080/product/uploadedFile/'+data[6]}}" width="205px" />
            <div style="margin-top:30px ;" >
                <table>
                    <tbody>
                        <tr>
                            <td>
                               <span> Product Name :</span>
                            </td>
                            <td>
                                <span th:text="${data[1]}"></span>

                            </td>
                        </tr> 
                        <tr>
                            <td>
                               <span> Order Id :</span>
                            </td>
                            <td>
                                <span th:text="${data[5]}"></span>
                            </td>
                        </tr> 
                         <tr>
                            <td>
                               <span> Product type :</span>
                            </td>
                            <td>
                                <span th:text="${data[4]}"></span>
                            </td>
                        </tr>
                         <tr>
                            <td>
                               <span> Product ID :</span>
                            </td>
                            <td>
                                <span th:text="${data[3]}"></span>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                               <span> Product price :</span>
                            </td>
                            <td>
                                <span th:text="${data[2]}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <button class="btn btn-success" style="border-radius: 9px;"> <a th:href="@{'/payment/' + ${data[5]}}">Make Payment </a></button>
                            </td>
                            <td>
                                <button class="btn btn-warning" style="border-radius: 9px;"><a th:href="@{'/removeFromKart/' + ${data[3]}+'/'+${data[5]}}">Cancel Order</a>     </button>                        </td>
                        </tr>                         
                    </tbody>
                </table>                
            </div>
        </div>
    </div>

</body>
</html>