<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E commerce website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>


    <div align="center" id="view" >
        <h1>Buy it and Make Payment</h1>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Product Id</th>
                    <th>Product Type</th>
                    <th>Order Id</th>
                    <th>Make Payment</th>
                    <th>Cancel Order</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="data,num : ${orders}">
                    <td th:utext="${num.count}"></td>
                    <td th:text="${data[1]}"></td>
                    <td th:text="${data[2]}"></td>
                    <td th:text="${data[3]}"></td>
                    <td th:text="${data[4]}"></td>
                    <td th:text="${data[5]}"></td>
                    <td>
                        <a th:href="@{'/payment/' + ${data[5]}}">Make Payment </a></td>
                        <td>
                            <a th:href="@{'/removeFromKart/' + ${data[3]}+'/'+${data[5]}}">Cancel Order</a>  
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>