
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate New Password</title>
    <script>
                    var regEx = /^[0-9a-zA-Z.*]+$/;
                    message = "Enter Only Alphanumeric & dot";
        function chekUserId(val) {
            if(!val.match(regEx)){
                document.getElementById("errId").innerHTML=message;
                document.getElementById("usersId").focus();
            }else{
                document.getElementById("errId").innerHTML="";
            }
        }

        function chekPass(val) {
            if(!val.match(regEx)){
                document.getElementById("errId").innerHTML=message;
                document.getElementById("passId").focus();
            }else{
                document.getElementById("errId").innerHTML="";
            }
        }
    </script>
</head>

<body style="background-color: #e0f0c9;">
    <div align="center">
    <div>
        <h2>Generate New Password </h2>
        <h2 th:text="${userId}"></h2>
    </div>
    <div>
        
        <form th:action="@{/generateNewPasswordForUser/} + ${userId}" method="post" modelAttribute="generatePass">
        <table border="0px solid black">
            <tr>
                <th>
                    Password
                </th>
                <th>
                    <input type="password" name="userPass" id="passId" placeholder="Enter password" maxlength="12" onblur="chekPass(this.value)" required />

                </th>

            </tr>
            <tr>
                <th>
                    Password
                </th>
                <th>
                    <input type="password" name="password2" id="passId" placeholder="Re-enter password" maxlength="12" onblur="chekPass(this.value)" required />

                </th>

            </tr>
            <tr>

                <th colspan="2">
                    <h3 id="errId"></h3>
                </th>
            </tr>
            <tr>
        
                <th colspan="2">
                    <input type="submit" value="Generate new password"  />
                </th>
            </tr>
            
        </table>
    </form>
</div>
</body>

</html>