<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script>
                var regEx = /^[0-9a-zA-Z.*]+$/;
                    message = "Enter Only Alphanumeric & dot";
        function chekUserId(val) {
            if(!val.match(regEx)){
                document.getElementById("errId").innerHTML=message;
                document.getElementById("usersId").focus();
            }else{
                document.getElementById("errId").innerHTML="";
            }
          
        }

    </script>
</head>
<body style="background-color: #e0f0c9;">
    <div align="center">
        <div>
            <h2>Forgot Password Page.</h2>
        </div>
        <div>
            <form action="/forgotPassByUserId" method="post" modelAttribute="forgotPass">
            <table border="0px solid black">
                <tr>
                    <th>
                        User Id
                    </th>
                    <th>
                        <input type="text" name="userId" id="usersId" placeholder="Enter user id" maxlength="15" onblur="chekUserId(this.value)" required />
                    </th>                
                </tr>
                
                <tr>
    
                    <th colspan="2">
                        <h3 id="errId"></h3>
    
                    </th>
                </tr>
                <tr>
            
                    <th colspan="2">
                        <input type="submit" value="Submit"  />
                    </th>
                </tr>
                
            </table>
        </form>
    </div>
</body>
</html>